<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357498047821-7rcqik9dube9546ln5troia9ubr0hlp5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357498047821-7rcqik9dube9546ln5troia9ubr0hlp5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>357498047821-m9gbfmo340t1babhomgjci49kbp16b60.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCglTaG02uYa04_HHBPn43SZ9UMMLYX6yc</string>
	<key>GCM_SENDER_ID</key>
	<string>357498047821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esprit.Smarkt-Go</string>
	<key>PROJECT_ID</key>
	<string>smarkt-go</string>
	<key>STORAGE_BUCKET</key>
	<string>smarkt-go.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357498047821:ios:db66f037a74530c3edbb04</string>
</dict>
</plist>